* {
  box-sizing: border-box;
}
body {
  color: #183452;
  width: 80%;
  height: auto;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .header-title h1 {
  color: #981f52;
  margin-bottom: 20px;
}

/* Navigation */
header .header-nav {
  width: 100%;
  background-color: rgb(255, 196, 0);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
header .header-nav .search {
  margin-right: 10px;
}
header .header-nav .nav-list ul {
  list-style: none;
  display: flex;
}
header .header-nav .nav-list li {
  padding: 0 10px;
}

/* Content */
content {
  display: flex;
}
content aside.left {
  width: 70%;
  margin-right: 30px;
}
content aside.right {
  width: 30%;
}

/* Content-left */
content aside.left h2 {
  color: #fbbe16;
}
div.first-content_desc, div.second-content_desc {
  font-weight: bold;
}
content aside.left .first-content_img img {
  width: 100%;
}
content aside.left h2.register {
  color: #183452;
}
iframe {
  width: 700px;
  height: 100vh;
}

/* Content-right */
content aside.right h3 {
  font-weight: bold;
}
.right #avatar {
  text-align: center;
  width: 80%;
  margin: auto;
}
.right #avatar img {
  width: 100%;
}
video {
  width: 100%;
  height: auto;
}
.happy-birthday_img img {
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  background: #173451;
  color: #fbbe16;
  text-align: center;
  position: relative;
  top: -800px;
}
