* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #173451;
  width: 80%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header .header-title h1 {
  color: rgb(113, 10, 10);
  margin-bottom: 20px;
}

/* Navigation */
header .header-nav {
  width: 100%;
  background-color: rgb(255, 196, 0);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
header .header-nav .nav-list ul {
  list-style: none;
  display: flex;
}
header .header-nav .nav-list li {
  padding: 0 10px;
}

/* Content */
content {
  display: flex;
}